body {
    width: 100vw;
    height: 100vh;
    background-image: url(background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #000000be;
    width: 300px;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

input, textarea {
    width: 200px;
    background-color: #ffffff;
    margin: 5px;
    border: 2px solid #7e7e7e;
}

button {
    width: 220px;
    cursor: pointer;
}